.carousel {
  position: relative;
  width: 100%;
  height: 100vh; /* Cambia a altura de la ventana completa */
  overflow: hidden;
  border-radius: 0; /* Elimina el border-radius para ocupar toda la pantalla */
  margin: 0;
  padding: 0;
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--text-color);
  z-index: 2;
}

.carousel-overlay h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel-link {
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.carousel-link:hover {
  background-color: var(--color-btn);
}

.carousel img {
  width: 100%;
  height: 100%; /* Cambia a 100% para ocupar todo el carousel */
  display: block;
  object-fit: scale-down; /* Mantiene la proporción */
}

.slide_direction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  pointer-events: none; /* Para que los clics pasen a través del contenedor */
}

.slide_direction button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  pointer-events: auto; /* Para que los botones reciban clics */
}

.slide_direction button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide_direction button svg {
  fill: white;
}

.image-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: center;
}

.image-footer p {
  color: #90caf9;
  margin: 0;
  font-size: 14px;
  opacity: 0.9;
  font-weight: 300;
}

.image-footer a {
  text-decoration: none;
  color: #90caf9;
}

.image-footer a:hover {
  color: #e2e7eb;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
  .slide_direction button {
    width: 30px;
    height: 30px;
  }

  .slide_direction button svg {
    height: 16px;
    width: 16px;
  }

  .image-footer p {
    font-size: 12px;
  }
}
