.header-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.imgae-perfil-menu {
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen se recorte correctamente */
}

.nav-menu-text .ul-menu-tex {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.li-menu-text a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.li-menu-text a:hover {
  color: var(--color4);
  transition: color 0.3s ease;
} 

.container-title .title-menu {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.container-icons .nav-menu-icons {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.li-menu-icons {
  position: relative;
  cursor: pointer;
}

.li-menu-icons img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.li-menu-icons img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute; /* Posiciona el dropdown fuera del flujo del documento */
  top: calc(100% + 5px); /* Justo debajo del ícono, con un pequeño margen */
  right: 0; /* Alineado al lado derecho del ícono */
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  padding: 10px;
  z-index: 1100; /* Asegúrate de que esté por encima del resto del contenido */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown-button {
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
}

.dropdown-button:hover {
  background-color: #f0f0f0;
}

.button-logout {
  background: var(--text-color-btn);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.button-logout:hover {
  background: var(--color4);
  color: white;
}

.confirm:hover {
  background-color: rgb(114, 18, 18);
  color: white;
}

.img-logout {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
