@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Triodion&display=swap");

:root {
  --bg-color: #ffde95;
  --color-btn: #add899;
  --text-color: #bc5a94;
  --color4: #f075aa;
  --font-title: "Roboto Mono", monospace;
  --font-sub-title: "Triodion", system-ui;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  font-family: var(--font-title);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: var(--bg-color);
  min-height: 98vh;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}
